@media print {
	#add, #delete, #printe, #edit{
		display: none !important;
	}
	th{
		display: none !important;
	}
	#contenu{
		height: 100%;
	}
	meta{
		display: none !important;
	}
	#donnee2{
		position: absolute;
    	bottom: 30px;
    	right: 30px;
	}
	.ttl{
		padding: 10px;
    	display: flex;
	}
	#toptable>td{
		color: black;
		border: none;
	}
	#ttl{
		color: black;
		border: none;
	}
	body{
		background-color: #dbd9d9 !important;
	}
}