body{
	background: black;
}
table{
	border: 2px solid grey;
	border-radius: 10px;
	padding: 20px;
	background:#FFF;
}

input[type="text"]{
	text-align: center;
    border-radius: 5px;
    border: 2px solid #13567F;
    margin: 1px;
}
td, th{
	width: 150px;
	border: 2px solid #13567F;
	background: grey;
    border-style: ridge;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    border-radius: 20px;
}
#vide{
	border: 0;
	background: #FFF;
	color: #000;
}
input{
	width: 150px;
	height: 25px;
}
div{
	display: flex;
    flex-direction: column;
    width: 900px;
    min-height: 400px;
    margin: auto;
    justify-content: center;
}
#one, #three{
	min-width: 150px;
	border: 0;
	background: #FFF;
}
#two{
	min-width: 300px;
	border: 0;
	background: #FFF;
}
#add{
	background-image: url(img/add.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position-x:10px;
	background-position-y:2px;
	border: 1px solid black;
	height: 30px;
	border-radius: 5px;
	text-transform: capitalize;
	font-weight: bold;
}
#add:hover{
	background-color: grey;
	color: #fff;
}

#edit{
	background-image: url(img/edit.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position-x:10px;
	background-position-y:2px;
	border: 1px solid black;
	height: 30px;
	border-radius: 5px;
	text-transform: capitalize;
	font-weight: bold;
}
#edit:hover{
	background-color: grey;
	color: #fff;
}

#delete{
	background-image: url(img/delete.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position-x:10px;
	background-position-y:2px;
	border: 1px solid black;
	height: 30px;
	border-radius: 5px;
	text-transform: capitalize;
	font-weight: bold;
}
#delete:hover{
	background-color: grey;
	color: #fff;
}

#printe{
	background-image: url(img/printe.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position-x:10px;
	background-position-y:2px;
	border: 1px solid black;
	height: 30px;
	border-radius: 5px;
	text-transform: capitalize;
	font-weight: bold;
}
#printe:hover{
	background-color: grey;
	color: #fff;
}
#ttl{
	font-size: 35px;
	padding: 10px;
}