.b{
border: 1px solid black;
}
#nav-head{
	margin: auto;
}
#myNavbar li{
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 10px;
	padding-right: 10px;
}
.navbar-inverse{
	border-radius: unset;
	margin-bottom: unset;
}
.container-fluid{
	float: none; 
	margin: 0 auto;
}
#first-line{
	background-color: #E9E9E9;
	padding: 10px;
}
#first-line>a{
	color: black;
}
#first-line>a:hover{
	text-decoration: none;
	color: black;
}
#second-line{
	background: url('img/iphone-x.png') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 650px;
}
#third-line{
	background: url('img/watch.png') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 800px;
}
.cont {
   margin-left: -10px;
  margin-top: -10px;
  margin-bottom: -10px;
  overflow: hidden;
  margin: 0 auto;
}

.item {
  width: calc(50% - 10px);
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: #F0F0F0;
}
.music{
	background: url('img/music-bg.svg')  center;
}
.ipad{
	background-image: url(https://images.apple.com/v/home/dn/images/promos/ipad_pro_film_large.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
}

.cont > div{
	height: 500px;
	width: 49%;
}
.imac{
  background-image: url('img/iMac-Pro.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.heart{
  color: black;
  background-image: url('img/heart.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.airpods{
  color: black;
  background-image: url('img/airpods.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover center;
}
.apple{
  color: black;
}
.foot{
  background-color: #F2F2F2;
}
a>.fa-apple:before {
    position: absolute;
}
section{
      margin-top: 10px;
}
div{
  border-radius: 10px;
}
h2,h1{
  font-size: 40px;
}
.container{
  padding: 30px;
}
.map{
  text-decoration: none;
  color: black;
  font-size: 11px;
  color: dimgrey;
}
.map:hover{
  color: dimgrey;
  font-size: 11px;
}
.col{
  padding-bottom: 15px;
}
.col>h3{
  padding-bottom: 2px;
}
hr{
  margin-top: -1rem;
}
.stmp{
  text-decoration: none;
  color: black;
  font-size: 11px;
  color: dimgrey;
  border-right: 1px solid #d6d6d6;
  margin-right: 10px;
  padding-right: 12px;
}
.stmp:hover{
  color: dimgrey;
  font-size: 11px;
}